
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-gift:before { content: '\e801'; } /* '' */
.icon-child:before { content: '\e802'; } /* '' */
.icon-coffee:before { content: '\e803'; } /* '' */
.icon-icq:before { content: '\e804'; } /* '' */
.icon-leaf-1:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-youtube:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-star-empty:before { content: '\e80d'; } /* '' */
.icon-alert:before { content: '\e80e'; } /* '' */